:root {
  --main-50: #fafafa;
  --main-100: #f4f4f5;
  --main-200: #e4e4e7;
  --main-300: #d4d4d8;
  --main-400: #a1a1aa;
  --main-500: #71717a;
  --main-600: #52525b;
  --main-700: #3f3f46;
  --main-800: #27272a;
  --main-900: #18181b;
  --main-950: #09090b;

  --accent-50: #ecfdf5;
  --accent-100: #d1fae5;
  --accent-200: #a7f3d0;
  --accent-300: #6ee7b7;
  --accent-400: #34d399;
  --accent-500: #10b981;
  --accent-600: #059669;
  --accent-700: #047857;
  --accent-800: #065f46;
  --accent-900: #064e3b;
  --accent-950: #022c22;

  --rose-50: #fff1f2;
  --rose-100: #ffe4e6;
  --rose-200: #fecdd3;
  --rose-300: #fda4af;
  --rose-400: #fb7185;
  --rose-500: #f43f5e;
  --rose-600: #e11d48;
  --rose-700: #be123c;
  --rose-800: #9f1239;
  --rose-900: #881337;
  --rose-950: #4c0519;

  --fg: var(--main-100);
  --fg-2: var(--main-200);
  --fg-3: var(--main-300);
  --fg-4: var(--main-400);
  --fg-5: var(--main-500);

  --accent-fg: var(--accent-400);

  --fg-on-accent: var(--main-950);

  --error-fg: var(--rose-500);

  --border: var(--main-300);
  --light-border: var(--main-500);

  --bg: var(--main-950);
  --link: var(--accent-400);
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--bg);
  color: var(--fg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: var(--link);
  text-decoration: none;

  &:hover {
    // text-decoration: underline;
    color: var(--bg);
    background-color: var(--link);
  }
}

input, textarea {
  color: var(--fg);
  background-color: var(--bg);
  border: 1px solid var(--border);
  padding: .3rem;
  &:not(:focus) {
    color: var(--fg-3);
  }
  &:disabled {
    color: var(--fg-4);
    border: 1px solid var(--light-border);
  }

  &:focus {
    outline: solid 2px var(--accent-fg);
    border-color: var(--accent-fg);
  }
}

button {
  cursor: pointer;
}

.btn {
  border: none;
  border-radius: .1rem;
  padding: .4rem .8rem;

  &.small {
    border-radius: .1rem;
    padding: .3rem .6rem;
    font-size: .8rem;
  }
  &.large {
    border-radius: .2rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
  }
}

.btn-primary {
  background-color: var(--accent-400);
  color: var(--fg-on-accent);

  &:hover {
    background-color: var(--accent-300);
  }
  &:disabled {
    color: var(--accent-100);
    background-color: var(--accent-800);
    cursor: not-allowed;
  }
  &:active:not(:disabled) {
    background-color: var(--accent-500);
  }
}

.note {
  font-size: .8rem;
  color: var(--fg-3);
}

.error {
  color: var(--error-fg);
}

label:has(+ input:required)::after {
  content: "*";
  color: var(--accent-fg);
}

label:has(+ textarea:required)::after {
  content: "*";
  color: var(--accent-fg);
}

label:has(+ input.ng-invalid.ng-touched) {
  color: var(--error-fg);
}

input.ng-invalid.ng-touched {
  border-color: var(--error-fg);
}
