:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
main {
  flex: 1;
  display: flex;
  align-items: stretch;
  padding: 2rem;
  // TODO: Make this exception for mobiles
}
app-global-loading-indicator {
  position: absolute;
}
