:host {
  display: block;
  background-color: var(--bg);
}

ul {
  border: solid 1px var(--accent-400);
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  &:hover {
    background-color: var(--main-600);
  }
}

.selected {
  background-color: var(--main-600);
}
