:host {
  display: block;
  width: 100%;
  position: relative;
}

.table-loading-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
