:host {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.search {
  text-align: center;
  position: relative;
}

button {
  margin-top: .8rem;
}

input {
  width: 100%;
}

img {
  width: 256px;
  height: 256px;
}

.input-container {
  width: min(100%, 300px);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  * {
    box-sizing: border-box;
  }
}
