:host {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.search {
  text-align: center;
  position: relative;
}

button {
  margin-top: .8rem;
}

input {
  width: min(100%, 300px);
}

img {
  width: 256px;
  height: 256px;
}
