<div class="tab-card">
  <app-spinner-overlay [enabled]="(loading$ | async) ?? false"></app-spinner-overlay>
  <div class="tab-headers">
    <span [ngClass]="loginHeaderClassess()" (click)="activeTab.set('login')">Login</span>
    <span [ngClass]="registerHeaderClasses()" (click)="activeTab.set('register')">Register</span>
  </div>
  <div class="tab-content" [ngSwitch]="activeTab()">
    <ng-container *ngSwitchCase="'login'">
      <h2>Log in</h2>
        <span class="error" *ngIf="loginError$ | async as error">Login failed: {{ error }}</span>
        <form [formGroup]="loginForm" (submit)="login($event)">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" formControlName="username" required/>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" formControlName="password" required/>

          <div class="submit-wrapper">
            <button type="submit" class="btn btn-primary" [disabled]="!(loginFormValid$ | async)">Submit</button>
          </div>
        </form>
    </ng-container>

    <ng-container *ngSwitchCase="'register'">
      <h2>Register</h2>
        <span class="error" *ngIf="registerError$ | async as error">Register failed: {{ error }}</span>
        <form [formGroup]="registerForm" (submit)="register($event)">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" formControlName="username" placeholder="Between 3 and 16 characters" required />
          <span class="note separated-from-top">Password has to be between 8 and 72 characters</span>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" formControlName="password" placeholder="At least 8 characters" required/>
          <label for="repeat-password">Repeat</label>
          <input type="password" id="repeat-password" name="repeatPassword" formControlName="repeatPassword" placeholder="Repeat password" required />
          <span class="note separated-from-top">Email is optional, only for password recovery.</span>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" formControlName="email" placeholder="optional" />

          <div class="submit-wrapper">
            <button type="submit" class="btn btn-primary" [disabled]="!(registerFormValid$ | async)">Submit</button>
          </div>
        </form>
    </ng-container>
  </div>
</div>
